#### Python Crash Course
This notebook will just go through the basic topics in order:

- Print Statements
- Data types
    - Numbers
    - Strings
    - Lists
    - Dictionaries
    - Booleans
    - Tuples
    - Sets
- Comparison Operators
- if,elif, else Statements
- for Loops
- while Loops
- range()
- list comprehension
- functions
- lambda expressions
- map and filter
- methods

In [1]:
# Let's learn about the print statements
print("Let's learn python for Machine Learning")

Let's learn python for Machine Learning

In [2]:
# let's create two variables and prints them
x = 16
y = "Aman"
print(x)
print(y)

16
Aman

In [6]:
# let's print the statement with string formatting
print(f"{y} is {x} years old.")

Aman is 16 years old.

In [4]:
# Using format method
print("{} is {} years old." .format(y,x))

Aman is 16 years old.

In [9]:
# Using concatenation method
print(y + " is " + str(x) + " years old.")

Aman is 16 years old.

In [11]:
# Using older % string formatting method
print("%s is %d years old." %(y,x))

Aman is 16 years old.

In [12]:
x

16

In [13]:
y

'Aman'

2. Data Types
    - Numbers

In [24]:
# working with numbers
x = 10
y = 50
print(f"The addition of x and y is {x+y}.")
print(f"The subtraction of x from y is {y-x}.")
print(f"The multiplication of x and y is {x*y}.")
print(f"The division of y from x is {y/x}.")
print(f"The reminder is {y%x}.")

The addition of x and y is 60.
The subtraction of x from y is 40.
The multiplication of x and y is 500.
The division of y from x is 5.0.
The reminder is 0.

2.2 String

In [27]:
# working with single quoted string
single_quoted_string = 'Python is Awesome!!'
print("Single Quoted String:", single_quoted_string)

Single Quoted String: Python is Awesome!!

In [28]:
# working with double quoted string
double_quoted_string = "I'm Learning Python!!"
print("Double Quoted String:", double_quoted_string)

Double Quoted String: I'm Learning Python!!

In [30]:
# String Concatenation
concatenated_string = single_quoted_string + ' ' + double_quoted_string
print("Concatenated String is:", concatenated_string)

Concatenated String is: Python is Awesome!! I'm Learning Python!!

In [34]:
# String Methods
uppercase_string = concatenated_string.upper()
print(uppercase_string)
lowercase_string = concatenated_string.lower()
print(lowercase_string)

PYTHON IS AWESOME!! I'M LEARNING PYTHON!!
python is awesome!! i'm learning python!!

In [2]:
# String Slicing examples
word = "University of Sundarland"
slice_word = word[4:10]
print("slice word is:", slice_word)

slice word is: ersity

In [6]:
# Remove leading and trailing spaces
word_space = "   Pokhara University   "
print(word_space)
remove_space = word_space.strip()
print(remove_space)

   Pokhara University
Pokhara University

In [11]:
word_list = ["Kali", "Linux", "is", "used", "for", "Hacking"]
print("Word list is:",word_list)
sentence = " ".join(word_list)
print("Complete Sentence is:",sentence)

Word list is: ['Kali', 'Linux', 'is', 'used', 'for', 'Hacking']
Complete Sentence is: Kali Linux is used for Hacking

In [15]:
# replace the word in a sentence
word_list = "Hello, World!"
replaced_string = word_list.replace("Hello", "Cybersecurity")
print("Replaced String:", replaced_string)

Replaced String: Cybersecurity, World!

In [17]:
# find a word in a sentence
word = "Python is Awesome!! I'm learning python crash course."
index = word.find("course")
print("Index of course:", index)

Index of course: 46

2.3 List

In [18]:
# creating a list 
fav_movie = ["Hami 3 bhai", "Papi Manxe", "Aadi Pusush", "Animal", "Hera Pheri"]
print(fav_movie)

['Hami 3 bhai', 'Papi Manxe', 'Aadi Pusush', 'Animal', 'Hera Pheri']

In [22]:
# Accessing the element of list
print("Udip Fav Moive is:", fav_movie[1]) # Hello World
print("Nitin Fav Movie is:", fav_movie[3])
print("Rashna Fav Movie is:", fav_movie[-1])

Udip Fav Moive is: Papi Manxe
Nitin Fav Movie is: Animal
Rashna Fav Movie is: Hera Pheri

In [23]:
# find the length of list
print("The length of string is:", len(fav_movie))

The length of string is: 5

In [24]:
# List can contain hetrogeneous data types
list1 = ["Apple", "Banana", "Cherry", "Dragon Fruit"]
list2 = [5, 10, 15, 20, 25]
list3 = [True, False, True, False]
list4 = ["Apple", 5, True]
print(list1)
print(list2)
print(list3)
print(list4)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit']
[5, 10, 15, 20, 25]
[True, False, True, False]
['Apple', 5, True]

In [25]:
# let's find the type of data types
print(type(list4))

<class 'list'>

In [29]:
# Nested List 
nested_list = ["One Piece", "Lord of the Rings", [9, 10]]
print(nested_list)
print("IMDB rating LOR:",nested_list[2][1])

['One Piece', 'Lord of the Rings', [9, 10]]
IMDB rating LOR: 10

2.4 Disctionary

In [31]:
# Creating a disctionary
student = {
    "name": "Siddhant",
    "Department": "Computer Engineering",
    "CGPA": 3.8
}
print(student)

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.8}

In [32]:
# Accessing the disctionary items
print("Student's Name:", student["name"])

Student's Name: Siddhant

In [33]:
# Adding a new element
student["Year"] = 2019
# Print the disctionary as a string
print(repr(student))

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.8, 'Year': 2019}

In [34]:
# Modifying an existing item
student["CGPA"] = 3.9
print(repr(student))

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.9, 'Year': 2019}

In [36]:
# Deleting an item if it exists
if "Year" in student:
    del student["Year"]
print(student)

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.9}

In [37]:
car_dict = dict(name="Tesla", company="Tesla", price=10)
print(repr(car_dict))

{'name': 'Tesla', 'company': 'Tesla', 'price': 10}

In [4]:
# Boolean: Let's learn Boolean
print("\nExample 1: Comparing Values:")
print("IS 100 is smaller than 200?", 200>100)
print("Is 50 is equal to 100?", 50 == 100)

Example 1: Comparing Values:
IS 100 is smaller than 200? True
Is 50 is equal to 100? False

In [6]:
# Example 2: Find the greatest number among two
x = 50
y = 200
if x > y:
    print(f"{x} is greater than {y}.")
else:
    print(f"{y} is greater than {x}.")

200 is greater than 50.

In [12]:
# Evulating Values and Variables
print("Is 'Hello' True?",bool("Hello"))
x = "Hi"
y = 25
print("Is x True?", bool(x))
print("Is y True?", bool(y))

Is 'Hello' True? True
Is x True? True
Is y True? True

In [14]:
# Let's practice function that returns boolean
def is_even(num):
    return num % 2 == 0

print("Is 20 is even?", is_even(20))
print("Is 15 is even?", is_even(15))

Is 20 is even? True
Is 15 is even? False

In [15]:
# Tuples: Let's learn about tuples
fav_movie = ("Najariya Churaya", "One Piece", "Tiger 3")
print(fav_movie)

('Najariya Churaya', 'One Piece', 'Tiger 3')

In [17]:
# Accessing the fav movie
print("Keshav fav movie is", fav_movie[0])
print("Ram fav movie is", fav_movie[2])

Keshav fav movie is Najariya Churaya
Ram fav movie is Tiger 3

In [18]:
x, y, z = fav_movie
print("Seperate Movie:", x,y,x)

Seperate Movie: Najariya Churaya One Piece Najariya Churaya

In [20]:
for movie in fav_movie:
    print(movie)

Najariya Churaya
One Piece
Tiger 3

In [21]:
# Joining the two tupples
first_tuple = ("Apple", "Banana", "Cherry")
second_tuple = (1, 10, 20)
joined_tuples = first_tuple + second_tuple
print(joined_tuples)

('Apple', 'Banana', 'Cherry', 1, 10, 20)

In [26]:
# Sets: Let's learn about sets
# Creating a sets
my_first_set = {"apple", "banana", "cherry", "aanar"}
print(my_first_set)

{'banana', 'apple', 'aanar', 'cherry'}

In [24]:
# Adding a new fruit to our set
my_first_set.add("orange")
print(my_first_set)

{'aanar', 'cherry', 'apple', 'orange', 'banana'}

In [28]:
# upadting our sets
my_first_set.update(["mango", "pineapple"])
print(my_first_set)

{'aanar', 'apple', 'cherry', 'pineapple', 'mango', 'banana'}

In [30]:
# remove the fruits from sets
my_first_set.remove("mango")
print(my_first_set)

{'aanar', 'apple', 'cherry', 'pineapple', 'banana'}

In [31]:
# Conditional Statements:
# Finding the greatest number among three
a = 20
b = 50
c = 70

if a >= b and a >= c: 
    print(f"{a} is greatest number.")
elif b >= a and b >= c:
    print(f"{b} is greatest number.")
else:
    print(f"{c} is greatest number.")

70 is greatest number.

In [34]:
# Leap Year
year = 2028

if (year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Leap Year

In [36]:
# Determining the season based on the month
month = "Sep"

if month in ["Jan", "Feb", "March", "May"]:
    print("Spring")
elif month in ["Sep", "Oct", "Nov"]:
    print("Autumn")
elif month in ["June", "July", "August"]:
    print("Summer")

Autumn

In [2]:
# Loops: Let's learn 
multiple_of_five = [5, 10, 15, 20, 25]

print("\nMultiple of five:")
for num in multiple_of_five:
    print(num)

Multiple of five:
5
10
15
20
25

In [4]:
# Let's work with string
string = "Hi I am Learning Python"

for char in string:
    print(char)

H
i

I

a
m

L
e
a
r
n
i
n
g

P
y
t
h
o
n

In [7]:
# Let's range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(1,5):
    print(i)

1
2
3
4

In [11]:
# Even number from 1 to 10 
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [15]:
# Odd number from 1 to 10 and 20 - 11
print("\nodd number from 1 to 10:")
for i in range(1,11,2):
    print(i)

print("\nOdd number from 20-11")
for i in range(19,10,-2):
    print(i)

odd number from 1 to 10:
1
3
5
7
9

Odd number from 20-11
19
17
15
13
11

In [17]:
# Let's use disctionary
fav_movie = {
    "KGF": 9,
    "Inspection": 10,
    "Braking Bad": 9
            }
for key, value in fav_movie.items():
    print(key, ":", value)

KGF : 9
Inspection : 10
Braking Bad : 9

In [18]:
# Let's learn loop with tuple
fruits = [("Apple", 10), ("Banana", 12), ("Cherry", 15)]
print("\nElements of Fruits Tuple:")
for item in fruits:
    print(item)

Elements of Fruits Tuple:
('Apple', 10)
('Banana', 12)
('Cherry', 15)

In [20]:
# Let's seperate each element from tuple fruits:
for char, num in fruits:
    print("Character:", char, "| Quantity:", num)

Character: Apple | Quantity: 10
Character: Banana | Quantity: 12
Character: Cherry | Quantity: 15

In [21]:
# Let's learn while loop
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [23]:
# Find the sum of numbers 1-10 using while loops
sum = 0
num = 1
while num <= 10:
    sum += num
    num += 1
print("\nThe sum of number from 1 - 10 is:", sum)

The sum of number from 1 - 10 is: 55

In [24]:
# Find the sum of number from 1 to 10 even numbers only
sum = 0
num = 1
while num <= 10:
    if num % 2 == 0:
        sum += num
    num += 1
print("The sum of number from 1 to 10 even numbers only:", sum)

The sum of number from 1 to 10 even numbers only: 30

In [26]:
# Find the even number from 1 to 10 using while loop:
num = 1
while num <= 10:
    if num % 2 == 0:
        print(num)
    num += 1

2
4
6
8
10

In [28]:
# Find the factorial of 5
number = 5
factorial = 1
while number > 0:
    factorial *= number
    number -= 1
print("Factorial of 5 is:", factorial)

Factorial of 5 is: 120

In [ ]:
# Reverse the string using while loop
string = "Flimy"

In [32]:
# Function: Let's greet first
def greet():
    print("Hello World!!!")
greet()

Hello World!!!

In [1]:
# Function with parameters
def greet(name):
    print("Hello", name)
greet("Bata")
greet("Ranjit")

Hello Bata
Hello Ranjit

In [3]:
# Function with Return Value
def square(a):
    return a**2
result = square(10)
print(result)

100

In [5]:
# Function with default paramenter value
def greet_with_default(name="World!!"):
    print("Hello", name)

greet_with_default()
greet_with_default(name="Python!")

Hello World!!
Hello Python!

In [6]:
# Function with multiple values: Find the min and max number
def min_max(num):
    return min(num), max(num)

num = [1, 5, 10, 20, 100, 250]
min_num, max_num = min_max(num)
print("Minimun Number:", min_num)
print("Maximun Number:", max_num)

Minimun Number: 1
Maximun Number: 250

In [8]:
# Recursive function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n* factorial(n-1)
print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [10]:
# Function with variable number of arguments
def sum(*arg):
    total = 0
    for num in arg:
        total += num
    return total
print("Sum of 1, 3, 5 and 7:", sum(1,3,5,7))

Sum of 1, 3, 5 and 7: 16

In [12]:
# Lambda Expression or Function
square = lambda x: x**2 
print("Square of 5:", sqaure(5))

Square of 5: 25

In [14]:
# Addition of two numbers
sum = lambda x,y: x+y
print("Sum of two numbers:", sum(10,20))

Sum of two numbers: 30

In [15]:
# sorting based on length(characters) of name 
names = ["Bata", "Saloni", "Lumanti", "Bajes"]
sorted_names = sorted(names, key= lambda name: len(name))
print("Sorted names based on their characters:", sorted_names)

Sorted names based on their characters: ['Bata', 'Bajes', 'Saloni', 'Lumanti']

In [16]:
# Find the even numbers in a list using lambda function
numbers = [2, 3, 5, 8, 6, 20, 24, 26, 101, 103]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even Numbers from List:", even_numbers)

Even Numbers from List: [2, 8, 6, 20, 24, 26]

In [17]:
# Mapping a function to a list using lambda function
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
squared_list = list(map(lambda x: x**2, numbers))
print("Squared list of numbers:", squared_list)

Squared list of numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
# Let's learn list method:
my_list = [1, 4, 9, 16, 25, 36, 49, 64, 81]

#append()
my_list.append(100)
print("My list after append:",my_list)

# pop(): removes and return the last element from the list
my_list.pop()
print("My list after popped:", my_list)

# sort()
new_list = [10, 5, 15, 2, 17, 29]
new_list.sort()
print("Sorted_list:", new_list)

# reverse()
new_list.reverse()
print("Reversed list:", new_list)

My list after append: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
My list after popped: [1, 4, 9, 16, 25, 36, 49, 64, 81]
Sorted_list: [2, 5, 10, 15, 17, 29]
Reversed list: [29, 17, 15, 10, 5, 2]

In [27]:
# Using disctionary method
my_dict = {
    "Apple": 20,
    "Banana": 12,
    "Cherry": 10,
    "Dragon Fruit": 25
}

# key() Return a view of all keys in given disctionary
print("Keys():", my_dict.keys())

# values() Return a view of all values in a given disctionary
print("Values():", my_dict.values())

# items()Return a view of all key-value pairs in the disctionary
print("Items():", my_dict.items())

#get() Return a view of specified key or return default values if not found
print("get():", my_dict.get("Apple"))

Keys(): dict_keys(['Apple', 'Banana', 'Cherry', 'Dragon Fruit'])
Values(): dict_values([20, 12, 10, 25])
Items(): dict_items([('Apple', 20), ('Banana', 12), ('Cherry', 10), ('Dragon Fruit', 25)])
get(): 20

In [28]:
pip install Pandoc

Collecting Pandoc
  Downloading pandoc-2.3.tar.gz (33 kB)
  Preparing metadata (setup.py) ... done
Collecting plumbum (from Pandoc)
  Downloading plumbum-1.8.3-py3-none-any.whl.metadata (10 kB)
Collecting ply (from Pandoc)
  Downloading ply-3.11-py2.py3-none-any.whl.metadata (844 bytes)
Downloading plumbum-1.8.3-py3-none-any.whl (127 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.6/127.6 kB 1.1 MB/s eta 0:00:00[31m1.2 MB/s eta 0:00:01
Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 1.2 MB/s eta 0:00:00
Building wheels for collected packages: Pandoc
  Building wheel for Pandoc (setup.py) ... done
  Created wheel for Pandoc: filename=pandoc-2.3-py3-none-any.whl size=33261 sha256=97452c55a42d70228969a0a3f6fef4f094cb76ef8c482fbbe3f04999fa6a917c
  Stored in directory: /home/siddhant/.cache/pip/wheels/1c/a9/c4/6254542c4e8202d52fcd69798d2507aaad1f2a4bb60f2f0fea
Successfully built Pandoc
Installing collected packages: ply, plumbum, Pandoc
Successfully installed Pandoc-2.3 plumbum-1.8.3 ply-3.11
Note: you may need to restart the kernel to use updated packages.